.service-menu{
    
    width:10rem;
    position: absolute;
    list-style: none;
    text-align: start;
}
/* .service-menu li{
    background-color: aqua;
    cursor: pointer;
} */
.sub-menu-item{
    background-color: aqua;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 16px;
}